#contact {
  padding: 0px 0px 50px 0px;
  .container {
    max-width: 1100px;
  }

  .contact {
    display: flex;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;

    &--form {
      flex: 1;
      padding: 40px;

      h2 {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 30px;
      }

      .form--inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .row {
          display: flex;
          gap: 10px;

          input {
            flex: 1;
          }
        }

        input,
        textarea {
          padding: 8px 0px;
          border: none;
          border-bottom: 2px solid #939393;
          background: none;
          font-size: 16px;
          outline: none;
          margin: 12px 0px;
        }

        .full {
          width: 100%;
        }

        textarea {
          min-height: 80px;
        }

        button {
          margin-top: 10px;
          width: 180px;
          padding: 10px;
          background: #109fef;
          color: white;
          border: none;
          border-radius: 25px;
          cursor: pointer;
          transition: 0.3s;
          height: 49px;
          &:hover {
            background: #0288d1;
          }
        }
      }
    }


    &--info {
      flex: 1;
      background: #8e44ad;
      color: white;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__share {
        position: absolute;
        top: 0;
        right: 20px;
        border: 2px solid black;
      }

      h3 {
        margin-bottom: 15px;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
      }

      p {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        margin: 10px 0;
        img {
          width: 25px;
        }
        a {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 17px;
          line-height: 100%;
          color: white;
        }
      }

      .icons {
        display: flex;
        gap: 15px;
        font-size: 25px;
        margin: 20px 0;
        a {
          color: white;
        }
      }
    }
  }
  iframe {
    border: none;
  }
}
